* {
	box-sizing: border-box;;
}

body {
	background-color: #57a3c1;
	text-align: center;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	

}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}


h1 {
	font-size: 4rem;
	margin-bottom: 0;
	transition: .5s ease;
	text-shadow: 1px 1px #aaa;
}

h2 {
	font-size: 2rem;
	margin: 0.5rem;
}

p {
	font-size: 1.3rem;
	margin: 0;
}

form {
	margin: 100px auto 0;
	border: black 1px solid;
	border-radius: 10px;
	width: 50%;
	height: 180px;
	padding: 2rem;
	transition: all 0.5s cubic-bezier(.73,-0.75,.53,1.63);
	display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px #333;
    flex-wrap: wrap;
}

input {
	flex-grow: 3;
	height: 3rem;
	padding: 1rem;
	border-radius: 10px 0 0 10px;
    margin: 0;
    width: calc(100% - 5rem); 
    appearance: none;
    box-shadow: none;
    border:1px solid #cccccc;
}

button {
	display: inline-block;
	line-height: 1.8;
	box-shadow: none;
	background-color: #b9d9e5;
	width: 5rem;
	height: 3rem;
	border:1px solid #cccccc; 
	border-radius: 0 10px 10px 0;
	transition: background-color .3s;

}

button:hover {
	background-color: #81bdd3;
}

button:active {
	background-color: #4d8ea5;
}

#randomPage {
	width: 15rem;
	margin: 1rem;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	display: flex;
	flex-flow: column wrap;	
	width: 70%;
	margin: 0 auto;
	padding: 0;
	transform: translateY(-160px);
	perspective: 700px;
	transition: opacity .3s ease-in;
}

li {
	margin: 0.5rem;
	text-align: left;
	border: 1px black solid;
	padding: 1rem;
	background-color: #FFAA4D;
	border-radius: 10px;
	box-shadow: 3px 2px 10px #333;
	transition: all .2s ease;
	opacity: 0;	
}


a:nth-child(odd) li {
	background-color: #FF866D;
}

 
a li:hover {
	box-shadow: 10px 8px 10px #444;
	border: 1px #b9d9e5 solid;
}

li h2 {
	padding-left: 4rem;
}

.searchmatch {
	text-decoration: underline;
	color: blue;
}

.move {
	transform: translateY(-190px);
}

.fadeout {
	opacity: 0;
}

.fadein {
	animation: come-in .3s forwards;
}


@keyframes come-in {
	from {
		opacity: 0;
		transform: translateY(2000px) rotateY(-90deg);

	}
	to {
		opacity: 1;
		transform: none;
	}
}