<!doctype html>
<html>
 <head>
  <title>Wikipedia Viewer</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="normalize.css" />
 </head>
 <body>
 	<p>Hello world!</p>
 	<form>
 		<input id="search" type="text" placeholder="Search Wikipedia..." required>
 		<button id="searchButton" type="submit">Search</button>
 	</form>
 	
 </body>

 </html>