<!doctype html>
<html>
 <head>
  <title>Wikipedia Viewer</title>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="normalize.css" />
 </head>
 <body> 
 	<div class="wrapper">
 		<h1 id="header">Wikipedia Viewer</h1>
	 	<form id="input_form">
	 		<input id="search" type="text" placeholder="Search Wikipedia..." autocomplete="off" required autofocus>
	 		<button  id="searchButton" type="submit">Search</button>
	 	</form>
	 	
	 	<div class="container">
	 		<ul id="list">
	 			
	 		</ul>
	 	</div>
 	</div>
 	
 	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 </body>

 </html>